<h1>Chart</h1>
<!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->


<div id="Bar_Chart_div" style = "padding-left: 10%; width: 80%" >
      <%= high_chart("chart", @chart) %>
</div>







